p {
  text-align: center;
  padding: 20px;
  margin: 5px;
}

.card-hide-vnc {
  font-size: 13px;
}

.card-show-ops {
  display: none;
}

.card-show-js {
  display: none;
}

.card-show-var {
  display: none;
}

.card-show-vnc {
  display: none;
}

.card-show-func {
  display: none;
}

.card-show-meth {
  display: none;
}

.card-show-arg {
  display: none;
}

.card-show-par {
  display: none;
}

.card-show-rtrn {
  display: none;
}

.card-show-chain {
  display: none;
}

.card-show-str {
  display: none;
}

.card-show-boo {
  display: none;
}

.card-show-und {
  display: none;
}

.card-show-NaN {
  display: none;
}

.card-show-esc {
  display: none;
}

.card-show-alrt {
  display: none;
}

.card-show-comm {
  display: none;
}

.card-show-jqry {
  display: none;
}

.card-show-attr {
  display: none;
}

body {
  background-image: url("img_card.jpg");
}
